### Michael Schoeppner
### 09/18/22
### Liked Post Report

I would anticipate that it will be simple to explore the data I have collected from the liked section of my Instagram account and, in the end, get the timestamp data I am looking for. I'll hopefully be able to navigate the data I need for future assignments with more ease thanks to this as well. I'm hoping to learn more in the end and maybe even use this for my own needs instead of just for schoolwork.

This data was collected to show the course my Instagram took over my time using it. We are tracking all this information to better show me ads or content that best suits me as a user. This information may be trustworthy because, as I mentioned in the previous question, programmers or users can help navigate content that is more tuned for that user. However, if a programmer needs to retrieve data that is no longer available on the user's profile, they can go into the code and sort the content to find precisely what they need. Additionally, they could utilize this to assist in resolving flaws in the programming that are preventing people from accessing their accounts. In what ways may this data be unreliable? A user utilizing the code can be forced to handle the data in inconsistent ways if they are unsure of how to sort or classify it. Even if they are aware of how to code but don't have the required applications, this might cause them to run into more issues than they thought. Another reason could be that you would need to spend extra time reviewing your code and any possible instructions because the data itself could be put up differently than at other times.

After recognizing my initial theory, I found that navigating the data was more difficult than I had anticipated. To get the code to retrieve the data I needed, I had to make additional specifications. Exploring different learning methods was more difficult for me because it was more difficult for me to discover new things when I wasn't being instructed in class. In the upcoming classes, I'm hoping we may go over specific portions to clear up any questions I might have about upcoming homework.

In [110]:
import pandas as pd
import json

In [111]:
with open(r"C:\Users\shep4\EMAT-FALL22\Insta\likes\liked_posts.json") as p:
    insta_liked = json.load(p)

In [ ]:
insta_liked

This is the full completed data Instagram has collected over the years of use.

In [113]:
test1 = pd.DataFrame(insta_liked['likes_media_likes'])

In [114]:
test1

,title,media_list_data,string_list_data
0,jessie.kasper,[],[{'href': 'https://www.instagram.com/p/xDapS4H...
1,victoria_vesy,[],[{'href': 'https://www.instagram.com/p/xDg4bdr...
2,emilly_thomass,[],[{'href': 'https://www.instagram.com/p/xDhZusM...
3,krista_seifert,[],[{'href': 'https://www.instagram.com/p/w1tom-m...
4,anniewinkhart,[],[{'href': 'https://www.instagram.com/p/wpiKZzE...
...,...,...,...
3147,hotvocals,[],[{'href': 'https://www.instagram.com/reel/CbLK...
3148,kdingey3,[],[{'href': 'https://www.instagram.com/p/CbDy54J...
3149,nicolebreger,[],[{'href': 'https://www.instagram.com/p/CbGeSEF...
3150,fab_ksu,[],[{'href': 'https://www.instagram.com/p/CbGp-xG...
3151,megan_kuty,[],[{'href': 'https://www.instagram.com/p/CbDcd08...

The above data is the unorganized raw data from the downloaded file Instagram provided for me from my personal profile.

Here we are filtering out which data information goes to which topic so we may filter it out further to find the correct data we seek.

In [115]:
test1['string_list_data'][0]

[{'href': 'https://www.instagram.com/p/xDapS4HKL6/',
  'value': 'รฐ\x9f\x91\x8d',
  'timestamp': 1419586866}]

This is a comprehensive list of the timestamps for each Instagram profile I liked over the period of my account's existence.

In [116]:
timestamp = [x[0]['timestamp'] for x in test1['string_list_data']]

In [ ]:
timestamp

To make it simpler to calculate how many I have liked during my Instagram career, I summed up each data point or column above.

In [118]:
test1.count()

title               3152
media_list_data     3152
string_list_data    3152
dtype: int64

In [119]:
test1.sort_index()

,title,media_list_data,string_list_data
0,jessie.kasper,[],[{'href': 'https://www.instagram.com/p/xDapS4H...
1,victoria_vesy,[],[{'href': 'https://www.instagram.com/p/xDg4bdr...
2,emilly_thomass,[],[{'href': 'https://www.instagram.com/p/xDhZusM...
3,krista_seifert,[],[{'href': 'https://www.instagram.com/p/w1tom-m...
4,anniewinkhart,[],[{'href': 'https://www.instagram.com/p/wpiKZzE...
...,...,...,...
3147,hotvocals,[],[{'href': 'https://www.instagram.com/reel/CbLK...
3148,kdingey3,[],[{'href': 'https://www.instagram.com/p/CbDy54J...
3149,nicolebreger,[],[{'href': 'https://www.instagram.com/p/CbGeSEF...
3150,fab_ksu,[],[{'href': 'https://www.instagram.com/p/CbGp-xG...
3151,megan_kuty,[],[{'href': 'https://www.instagram.com/p/CbDcd08...

In [120]:
len(timestamp)

3152

In [121]:
test1['timestamp'] = timestamp

In [122]:
test1.sort_index(ascending=False)

,title,media_list_data,string_list_data,timestamp
3151,megan_kuty,[],[{'href': 'https://www.instagram.com/p/CbDcd08...,1647291358
3150,fab_ksu,[],[{'href': 'https://www.instagram.com/p/CbGp-xG...,1647303765
3149,nicolebreger,[],[{'href': 'https://www.instagram.com/p/CbGeSEF...,1647303774
3148,kdingey3,[],[{'href': 'https://www.instagram.com/p/CbDy54J...,1647364989
3147,hotvocals,[],[{'href': 'https://www.instagram.com/reel/CbLK...,1647464439
...,...,...,...,...
4,anniewinkhart,[],[{'href': 'https://www.instagram.com/p/wpiKZzE...,1418693318
3,krista_seifert,[],[{'href': 'https://www.instagram.com/p/w1tom-m...,1419103720
2,emilly_thomass,[],[{'href': 'https://www.instagram.com/p/xDhZusM...,1419586838
1,victoria_vesy,[],[{'href': 'https://www.instagram.com/p/xDg4bdr...,1419586846
0,jessie.kasper,[],[{'href': 'https://www.instagram.com/p/xDapS4H...,1419586866

In [123]:
final_df.groupby(by='title').sum()

                                  timestamp
title
1sweetjt                         9148659366
3.1415926535897932384626433832   2897439966
4ocean                           1525651236
777erin_                         1559765599
89thkey                          8121693713
...                                     ...
zach_bruni                       3082890290
zachking                        17284132762
zachkrnach                       1495072097
zazdanowicz                      1615766301
zoeyziegler                      3160812438

[786 rows x 1 columns]

In [124]:
final_df.groupby(by="title", dropna=False).sum()

                                  timestamp
title
1sweetjt                         9148659366
3.1415926535897932384626433832   2897439966
4ocean                           1525651236
777erin_                         1559765599
89thkey                          8121693713
...                                     ...
zach_bruni                       3082890290
zachking                        17284132762
zachkrnach                       1495072097
zazdanowicz                      1615766301
zoeyziegler                      3160812438

[786 rows x 1 columns]

In [125]:
final_df = test1.drop('string_list_data', axis = 1)

In [126]:
final_df.head()

            title media_list_data   timestamp
0   jessie.kasper              []  1419586866
1   victoria_vesy              []  1419586846
2  emilly_thomass              []  1419586838
3  krista_seifert              []  1419103720
4   anniewinkhart              []  1418693318

In [127]:
final_df.groupby('timestamp').count().sort_values('title', ascending=False)

            title  media_list_data
timestamp
1538410946      2                2
1612481139      1                1
1612481298      1                1
1612533802      1                1
1612719807      1                1
...           ...              ...
1525632169      1                1
1525632171      1                1
1525632175      1                1
1525632183      1                1
1662385091      1                1

[3151 rows x 2 columns]

I think I fixed this but not 100% sure  so hopefully this works.